@import "@/assets/prerequisite";

body { 
  font-family: 'Poppins', sans-serif; 
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Rubik', sans-serif;
}

.main-view {
  padding: $spacer-5;
}

/*Transitions*/
.fade-enter-from, 
.fade-leave-to {
  opacity: 0;
}

.fade-enter-from {
  transform: translateY(-20px)
}

.fade-enter-to, 
.fade-leave-from {
  transform: translateY(0px)
}

.fade-leave-to {
  transform: translateY(20px)
}

.fade-enter-active {
  transition: 
    opacity $transition-speed ease-out,
    transform $transition-speed ease-out;
}

.fade-leave-active {
  transition: 
    opacity $transition-speed ease-in,
    transform $transition-speed ease-in;
}