@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/type";

@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/utilities/api";


$spacer-1: $spacer * .25;
$spacer-2: $spacer * .5;
$spacer-3: $spacer * 1;
$spacer-4: $spacer * 1.5;
$spacer-5: $spacer * 3;

// @include media-breakpoint-up(xs) { ... }
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }